#root {
    overflow-x: hidden;
}

.App {
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    background-image: url("images/background.jpg");
}

.MuiButton-root {
    font-family: "Lato", "Arial", sans-serif !important;
    font-size: 16px !important;
}

body{
    margin: 0;
}

#button-class {
    margin: 4px;
    background-color: coral;
    color: white;
}

#button-class:hover {
    color: coral;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    background: -webkit-linear-gradient(transparent, transparent);
    background: linear-gradient(transparent, transparent);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(208, 98, 98, 0.47);
}
