#root {
    overflow-x: hidden;
}

.App {
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    background-image: url("images/background.jpg");
}

body{
    margin: 0;
}

.langChanger {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto 0 8px;
}

.notes-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notes-list #button-class {
    width: 91%;
}

.note {
    height: auto;
    max-height: 300px;
    background-color: rgb(249, 235, 118);
    word-break: break-word;
    margin: 12px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(70, 68, 68, 0.445) 0 2px 8px 0;
}

.favorite-star {
    height: 24px;
    width: 24px;
    position: relative;
    margin-bottom: -24px;
    top: -18px;
    left: 97.5%;
    background-image: url("images/star-24.png");
}

.note__options {
    height: 24px;
    margin-bottom: 8px;
}

.note__title {
    display: flex;
    align-items: center;
}

.note__title__text {
    margin-left: 12px;
    padding: 4px 0;
}

.note__title__button {
    margin-left: auto;
}

.note__body {
    text-align: start;
    max-height: 216px;
    overflow-y: auto;
    margin: 0 8px 14px;
    border-top: 1px solid black;
}

.error-message {
    margin-top: 24px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    color: red;
}

#button-class {
    margin: 4px;
    background-color: coral;
    color: white;
}

#disabled-button {
    margin: 4px;
    background-color: darkgray;
    color: white;
}

.random-columns__options #disabled-button {
    margin: 0;
}

#columns-button-class {
    background-color: coral;
    color: white;
}

#button-class:hover, #columns-button-class:hover {
    color: coral;
    background-color: transparent;
}

.add-note-item {
    height: 271px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px dotted #808080;
    background-color: rgb(233, 229, 229);
    margin: 0 12px 12px;
}

.add-note-item:hover {
    cursor: pointer;
}

.add-new-note-page, .edit-note-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-new-note-page__title, .edit-note-page__title {
    width: 70vw;
    max-width: 700px;
    margin: 12px 0 !important;
}

.add-new-note-page__body, .edit-note-page__body {
    width: 90vw;
    max-width: 800px;
    margin: 12px 0;
}

.add-note-item-plus-icon {
    height: 128px;
    width: 128px;
    background-image: url("images/plus-5-128.png");
}

.error-page {
    color: cornflowerblue;
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
}

.error-page:hover {
    cursor: pointer;
    color: mediumpurple;
    text-decoration: none;
}

.note__body::-webkit-scrollbar-thumb {
    background: rgba(218, 143, 40, 0.64);
    background: -webkit-linear-gradient(rgba(218, 143, 40, 0.64), rgba(218, 143, 40, 0.64));
    background: linear-gradient(rgba(218, 143, 40, 0.64), rgba(218, 143, 40, 0.64));
}

.note__body::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 143, 40);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    background: -webkit-linear-gradient(transparent, transparent);
    background: linear-gradient(transparent, transparent);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(208, 98, 98, 0.47);
}

.all-columns {
    height: 70vh;
    width: 70vw;
    margin: 7% 0 3%;
    display: flex;
    align-items: flex-end;
}

.column {
    text-align: center;
    width: 10%;
    margin: 0 20px;
    font-size: 40px;
    -webkit-transition: height 2s, background-color 500ms, border 500ms;
    transition: height 2s, background-color 500ms, border 500ms;
}

@media screen and (max-width: 1279px) {
    .column {
        font-size: 24px;
        margin: 0 15px;
    }
}

@media screen and (max-width: 899px) {
    .column {
        font-size: 18px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 639px) {
    .column {
        font-size: 15px;
        margin: 0 6px;
    }
}

@media screen and (max-width: 479px) {
    .column {
        font-size: 10px;
        margin: 0 4px;
    }
}

.random-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-columns__options {
    margin-top: 8px;
}
